WCFCoreInterno/.vs/WCFCoreInterno/v17/DocumentLayout.json
WCFCoreInterno/.vs/WCFCoreInterno/v17/DocumentLayout.backup.json
WCFCoreInterno/.vs/WCFCoreInterno/v17/.suo
WCFCoreInterno/.vs/WCFCoreInterno/FileContentIndex/d38f4671-bd89-455e-882b-d692852e6007.vsidx
WCFCoreInterno/.vs/WCFCoreInterno/FileContentIndex/a08554e5-22c7-4a5f-b528-91bf43f326f8.vsidx
WCFCoreInterno/.vs/WCFCoreInterno/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-wal
WCFCoreInterno/.vs/WCFCoreInterno/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-shm
WCFCoreInterno/.vs/WCFCoreInterno/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
WCFCoreInterno/.vs/WCFCoreInterno/CopilotIndices/17.14.1290.42047/CodeChunks.db-wal
WCFCoreInterno/.vs/WCFCoreInterno/CopilotIndices/17.14.1290.42047/CodeChunks.db-shm
WCFCoreInterno/.vs/WCFCoreInterno/CopilotIndices/17.14.1290.42047/CodeChunks.db
WCFCoreInterno/.vs/WCFCoreInterno/CopilotIndices/17.14.1518.61961/CodeChunks.db
